@use './vars';

.bannerContainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: vars.$deepblue;
}

.contacts{
    width: 40%;
    display: flex;
    justify-content: space-aroun;
    font-family: vars.$fontsans;
    p{
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-size: .8rem;
    }
    p span{
        margin-right: 10px;
    }
}

.social{
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    li a{
        color: #fff;
        transition: color .2s ease;
        cursor: pointer;
        &:hover{
            color: vars.$base;
        }
    }
}