@use './vars';


.addToCart {
    background-color: vars.$base;
    text-decoration: none;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    padding: 5px;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: vars.$fontsans;
    text-transform: capitalize;
    transition: color .5s ease-out, background-color .2s ease-out; 
        &:hover {
            background-color: #fff;
            color: vars.$base;
        }
}