@use './vars';


.checkoutWrapper{
	width: 100%;
	height: auto;
	min-height: 500px;
	background-color: #fff;
}


.items{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	#item img{
		width: 250px;
		border-radius: 5px;
	}
	#item h3{
		font-weight: 600;
		color: vars.$deepblue;
	}
	#item p{
		color: forestgreen;
		font-weight: 500;
	}
}

#total{
	font-size: 1.3rem;
	color: vars.$base;
	text-align: center;
	span{
		color: forestgreen;
		font-weight: 600;
	}
}


.formWrapper{
	width: 40%;
	height: auto;
	background-color: vars.$deepblue;
	padding: 30px 10px;
	border-radius: 5px;
	margin-left: 30%;
	margin-top: 20px;
	.formControl{
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		label{
			color: #fff;
			span{
				color: red;
			}
		}
	}
	small{
		color: vars.$base;
	}
}

.flwbutton{
	color: #000;
	background-color: lightblue;
	width: 150px;
	border-radius: 5px;
	margin-left: 20%;
	margin-top: 20px;
}
