@use './vars';


.footer{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: vars.$deepblue;
    @media #{vars.$media-mobile-s}{
        height: 150vh;
    }
    @media #{vars.$media-mobile-m}{
        height: 150vh;
    }
    @media #{vars.$media-mobile-l}{
        height: 180vh;
    }
}

.footerContent{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    @media #{vars.$media-mobile-l}{
        flex-direction: column;
    }
    @media #{vars.$media-mobile-m}{
        flex-direction: column;
    }
    @media #{vars.$media-mobile-s}{
        flex-direction: column;
    }
}

.footerInner{
    img{
        width: 250px;
        @media #{vars.$media-mobile-s}{
            width: 150px;
        }
        @media #{vars.$media-mobile-m}{
            width: 150px;
        }
        @media #{vars.$media-mobile-l}{
            width: 150px;
        }
    }
    ul{
        width: 150px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-left: 20px;
        li{
            width: 25px;
            height: 25px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
        }
    }
    @media #{vars.$media-mobile-s}{
        position: relative;
        top: 30px;
    }
    @media #{vars.$media-mobile-m}{
        position: relative;
        top: 30px;
    }
    @media #{vars.$media-mobile-l}{
        position: relative;
        top: 30px;
    }

}

.icons:hover{
    color: vars.$base;
}


.footerNav{
    width: 100%;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: center;
    label{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        color: #fff;
        font-family: vars.$fontsans;
        margin-bottom: 15px;
        @media #{vars.$media-mobile-s}{
            inline-size: 300px;
            word-wrap: break-word;
            text-align: center;
            font-size: 14px;
        }
        @media #{vars.$media-mobile-m}{
            inline-size: 300px;
            word-wrap: break-word;
            text-align: center;
            font-size: 14px;
        }
        @media #{vars.$media-mobile-l}{
            inline-size: 300px;
            word-wrap: break-word;
            text-align: center;
            font-size: 14px;
        }
    }
    p{
      display: flex;
      align-items: center;
      margin-bottom: 15px;  
        span{
            margin-right: 10px;
            margin-top: 10px;
        }
        @media #{vars.$media-mobile-s}{
            // margin-right: 10%;
            
        }
    }
    .formInput input{
        width: 300px;
        height: 40px;
        border-radius: 81px 91px 84px 86px;
        border: none;
        padding-left: 15px;
        background-color: #000;
        border: 1px solid #fff;
        color: #fff;
        &:focus{
            border: 1px solid vars.$base;
            background-color: #fff;
            color: #000;
        }
         @media #{vars.$media-mobile-s}{
            width: 250px;
            height: 30px;
        }
        @media #{vars.$media-mobile-m}{
            width: 250px;
            height: 30px;
        }
        @media #{vars.$media-mobile-l}{
            width: 250px;
            height: 30px;
        }
    }
    .formInput button{
        height: 45px;
        width: 150px;
        border-radius: 81px 91px 84px 86px;
        position: relative;
        left: -20%;
        background: vars.$orange;
        text-transform: uppercase;
        color: #fff;
        border: none;
        transition: color .2s ease-out, background .2s ease-out;
        &:hover{
            color: vars.$orange;
            background: #fff;
        }
        @media #{vars.$media-mobile-s}{
            left: 0px;
            top: 10px;
            width: 250px;
            height: 30px;
        }
        @media #{vars.$media-mobile-m}{
            left: 0px;
            top: 10px;
            width: 250px;
            height: 30px;
        }
        @media #{vars.$media-mobile-l}{
            left: 0px;
            top: 10px;
            width: 250px;
            height: 30px;
        }
    }
    @media #{vars.$media-mobile-s}{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: -20%;
        top: -10%;
    }
    @media #{vars.$media-mobile-m}{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: -20%;
        top: -10%;
    }
    @media #{vars.$media-mobile-l}{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: -20%;
        top: -10%;
    }
}

.footerNavInner{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{vars.$media-mobile-s}{
        flex-direction: column;
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    @media #{vars.$media-mobile-m}{
        flex-direction: column;
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    @media #{vars.$media-mobile-l}{
        flex-direction: column;
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }
    dl{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        dt{
            color: vars.$base;
            text-align: left;
            font-weight: 700;
            font-family: vars.$fontsans;
        }
        dd{
            color: #fff;
            text-align: left;
            font-weight: 300;
            font-family: vars.$fontslab;
        }
        a{
            color: #fff;
        }
        @media #{vars.$media-mobile-s}{
            margin-bottom: 10px;
            dt{
                text-align: center;
            }
            dd{
                text-align: center;
            }
        }
        @media #{vars.$media-mobile-m}{
            margin-bottom: 10px;
            dt{
                text-align: center;
            }
            dd{
                text-align: center;
            }
        }
        @media #{vars.$media-mobile-l}{
            margin-bottom: 10px;
            dt{
                text-align: center;
            }
            dd{
                text-align: center;
            }
        }
    }
}

.footerBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    @media #{vars.$media-mobile-l}{
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    @media #{vars.$media-mobile-m}{
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    @media #{vars.$media-mobile-s}{
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    p{
        color: #fff;
        font-family: vars.$fontsans;
        font-size: .83rem;
        @media #{vars.$media-mobile-s}{
            font-size: .6rem;
            margin-bottom: 5px;
        }
        @media #{vars.$media-mobile-m}{
            font-size: .6rem;
            margin-bottom: 5px;
        }
        @media #{vars.$media-mobile-l}{
            font-size: .6rem;
            margin-bottom: 5px;
        }
    }
}