@use './vars';
@use 'sass:math';


.headerBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    a:last-child{
        margin-left:20px;
    }
}

.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.specialization{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            color: vars.$textcolor;
            font-family: vars.$fontslab;
            font-size: 2.3rem;
            text-align: center;
            @media #{vars.$media-mobile-s}{
                font-size: vars.$heading-mb;
                margin-bottom: 30px;
            }
        }
        p{
            text-align: center;
            max-inline-size: 600px;
            word-wrap: break-word;
            color: vars.$textcolor;
            font-family: vars.$fontslab;
            @media #{vars.$media-mobile-s}{
                font-size: .8rem;
            }
        }
        @media #{vars.$media-mobile-s}{
            margin-bottom: 20px;
        }
    }
}

.specialization .grid{
    width: 70%;
    display: grid;
    // justify-content: space-evenly;
    // align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    
    figure img{
        width: 200px;
        border-radius: 10px;
        @media #{vars.$media-mobile-s}{
            width: 100px;
        }
    }
    figure figcaption{
        font-size: 1.5rem;
        color: vars.$textcolor;
        text-transform: capitalize;
        font-weight: 600;
        font-family: vars.$fontslab;
        @media #{vars.$media-mobile-s}{
            font-size: 1rem;
            font-weight: 400
        }
    }
    @media #{vars.$media-mobile-s}{
        position: relative;
        width: 100%;
        figure{
            display: grid;
            place-items: center;
        }
    }
}

.products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    article{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        p{
            max-inline-size: 450px;
            color: vars.$textcolor;
            line-height: vars.$lh-small;
            font-family: vars.$fontslab;
        }
    }
    @media #{vars.$media-mobile-s}{
        flex-direction: column;
        margin-top: 20px;
        article{
            align-items: center;
            margin-bottom: 20px;
            padding: 0 20px;
            p{
                margin-bottom: 20px;
                margin-top: 10px;
                text-align: center;
                font-size: .7rem;
                line-height: math.div(vars.$lh-small, 2);
            }
        }
    }
}



.paints{
    display: flex;
    justify-content: center;
    align-items:center;
    img{
        width: 150px;
        position: relative;
        z-index: 1;
        &:nth-child(2){
            width: 250px;
            z-index: 2;
            @media #{vars.$media-mobile-s}{
                width: 200px;
            }
        }
        @media #{vars.$media-mobile-s}{
            width: 120px;
        }
    }
}

.bluepaint, .greenpaint{
    top: 40px;
}

.bluepaint{
    left: 80px;
}

.greenpaint{
    left: -100px;
}