@use './vars';



.navWrapper{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    ul{
        display: flex;
        width: 90%;
        height: 60px;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        .navItems{
            width: 60%;
        }
    }
}


.navItems > ul{
    width: 75%;
    display: flex;
    a{
        color: #000;
        text-decoration: none;
        font-family: vars.$fontsans;
        font-size: .86rem;
    }
}

.logo a img{
    max-width: 100px;
}


.navWrapper ul .cta{
    display: flex;
    width:500px;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: .8rem;
        font-family: vars.$fontsans;
        margin-left: -40px;
        cursor: pointer;
    }
    a:first-child{
        margin-right: 20px;
    }
}

.cartIcon{
    color: vars.$orange;
    cursor: pointer;
}

.userIcon{
    color: vars.$deepblue;
    cursor: pointer;
}

.userProfile{
    color: vars.$orange;
}

.chevron{
    color: vars.$orange;
}

#signupbtn{
    background-color: vars.$base;
    padding: 10px 15px;
    color: #fff;
    margin-left: 20px;
    transition: background-color .3s ease-out, color .3s ease-out;
    &:hover{
        background-color: #fff;
        color: vars.$base;;
    }
}
