@use './vars';



.navWrapper{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    ul{
        display: flex;
        width: 90%;
        height: 60px;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        .navItems{
            width: 60%;
        }
    }
    @media #{vars.$media-mobile-s}{
        
    }
}

.logo{
    margin-right: 50px;
}


.navItems{
    ul.navList{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: #000;
            text-decoration: none;
            font-family: vars.$fontsans;
            font-size: .86rem;
        }
    }
}

ul.navList{
    @media #{vars.$media-mobile-s}{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
}


.logo a img{
    max-width: 100px;
}



