@use './vars';



.prodCard h3{
    color: vars.$deepblue;
    font-weight: 700;
    font-family: vars.$fontsans;
}

.prodCard{
    width: 300px;
    transition: box-shadow .3s ease-out;
    padding: 10px;
    border-radius: 5px;
    &:hover{
        box-shadow: vars.$shadow;
    }
    @media #{vars.$media-mobile-s}{
        width: 150px;
        margin-left: 20%;       
    }
}