@use './vars';



.productHeader{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5% 10%;
}


.productImage{
     width: 40%;
     min-height: 300px;
     border-radius: 7px;
     // background-color: vars.$textcolor;
}

.productDetails{
     font-family: vars.$fontslab;
     h2{
          color: vars.$deepblue;
          font-family: vars.$fontsans;
     }
     p{
          font-size: 1.2rem;
     }
     p:first-letter{
          text-transform: capitalize;
     }
     small span{
          font-weight: 600;
          font-family: vars.$fontsans;
     }
     a{
          margin-top: 50px;
     }
}

.productDescription {
     padding: 5% 20%;
     p{
          font-family: vars.$fontslab;
     }
}

#quantity{
     font-size: .9rem;
     color: vars.$deepblue;
}


#info{
     font-size: .8rem;
     color: vars.$base;
}



.quantityCounter{
     display: flex;
     width: 100%;
     justify-content: space-around;
     align-items: center;
}

#increaseBtn, #decraseBtn{
     border: none;
     background: none;
}


#quantity{
     padding: 10px 20px;
     p{
          font-family: vars.$fontsans;
     }
}


#addToCartBtn{
     width: 150px;
     padding: 5px;
     border: 5px;
     color: #fff;
     margin-top: 20px; margin-left: 25%;
     background-color: vars.$base;
     border: 1px solid vars.$base;
     transition: background-color .2s ease-out, color .2s ease-out;
     &:hover{
          background-color: #fff;
          color: vars.$base;
          // border: 2px solid vars.$base;
     }
}

