
@use 'vars';

.slideItem{
	flex: 0 0 100%;
	width: 600px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 12px;
}


.slideItem img{
	width: 250px;
	height: 250px;
	border-radius: 32px 31px 0px 31px;
	-moz-border-radius: 32px 31px 0px 31px;
	-webkit-border-radius: 32px 31px 0px 31px;
	@media #{vars.$media-mobile-s}{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    @media #{vars.$media-mobile-m}{
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
}



.slideItem p{
	inline-size: 250px;
	word-wrap: break-word;
	white-space: pre-wrap;
	font-family: vars.$fontslab;
	@media #{vars.$media-mobile-s}{
        text-align: center;
    }
    @media #{vars.$media-mobile-m}{
        text-align: center;
    }
}

